[project]
name = "gradio-mcp-inspector"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastmcp>=2.13.1",
    "gradio>=6.0.1",
    "httpx>=0.28.1",
]
